
/* Web_menuPage 사용 */
.web-dropdown1-menu {
    width: 125px; /* 드롭다운 메뉴의 너비를 조정 */
    padding: 3px; /* 여백을 줄임 */
    background-color: #f8f9fa; /* 배경색 */
    border: 1px solid #e9ecef; /* 테두리색 */
    font-size: 1em; /* 글자 크기 줄임 */
    position: absolute; /* 절대 위치 설정 */
    top: 100%; /* 부모 요소 아래에 위치하도록 설정 */
    left: 0; /* 왼쪽 정렬 */
    z-index: 1000; /* 다른 요소들보다 위에 표시되도록 설정 */
    display: none; /* 기본적으로 숨김 */
  }

  .web-menu-item:hover .web-dropdown1-menu {
    display: block; /* 마우스오버 시 표시 */
}
  
  .web-dropdown1-item {
    padding: 10px; /* 각 항목의 여백 줄임 */
    font-size: 1em; /* 글자 크기 줄임 */
    color: black;
    display: block; /* 블록 요소로 설정하여 세로 정렬 */
    text-align: left; /* 텍스트를 왼쪽 정렬 */
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
    text-decoration: none; /* 밑줄 제거 */
  }

  .web-alink-downline{
    color: #000000;
    text-decoration: none;
  }

  
  .web-alink-downline :hover{
    color: #000000;
    text-decoration: none;
  }
  
  .web-nav-link-custom {
    color: rgb(0, 0, 0); /* 글씨 색상을 하얀색으로 설정 */
    color: rgb(0, 0, 0); /* 네브바의 내부 링크태그 글씨 색상을 설정 */
    text-decoration: none; /* 밑줄 제거 */
  }

 
  

  
  .web-logo-image {
    width: 5.5rem; /* 너비 설정 */
    height: auto; /* 높이를 자동으로 설정하여 비율 유지 */
  }
  
  

  
  .web-logo-write-image {
    width: 100px; /* 너비 설정 */
    height: auto; /* 높이를 자동으로 설정하여 비율 유지 */
  }
  

  .web-nav-border {
    border-bottom: 1px solid rgb(0, 0, 0); /* 네브 바의 하단에 검은 선 추가 */
    width: 100%;
    position: relative;
  }
  
  
  .web-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3; /* 배경 이미지보다 높게 설정 */
  
  }

  
  
  .web-menu-items {
    display: flex;
    gap: 3rem;  /*  메뉴 사이 간격 */
    flex: 1;
    justify-content: center;
   
  }




  .web-menu-item {
    position: relative; /* 부모 요소에 relative 설정 */
}
  
.web-right-box {
    display: flex;
    align-items: center;
}



/* Web_HomePage에서 사용 */
.web-background-image-container {
  background-size: cover; /* 이미지가 요소를 덮도록 설정 */
  background-position: center; /* 이미지가 중앙에 위치하도록 설정 */
  height: 80%; /* 높이 */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* 메뉴보다 낮게 설정 */

  
}

  .web-home {
    display: block; 
  }

  .web-body-page {
    padding: 10rem;
   
  }

  .web-responsive-image {
    max-width: 100%;
    height: auto;
  }









/*  Web_bottomPage */
.web-bottom-page {
  position: relative;
  bottom: 0px;
}


.web-bottom-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}



.company-logo {
  width: 100px;
}




ul li a {
  color: #000000;
  text-decoration: none;
}



.back-to-top {
  text-align: center;
  margin-top: 20px;
}

.back-to-top a {
  
  color: #f00;
  text-decoration: none;
  font-size: 16px;
}
  


  
  /* common-HomePage에서 사용  */
  
  .web-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .web-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;  
    margin-top: 200px;  
  }
  
 







/* Web_company 관련 */
.company-view {
  font-family: Arial, sans-serif;
}


.company-banner {
  background-color: #002060;
  color: white;
  padding: 20px;
}

.blue-content {
  text-align: center;
}

.blue-content h3 {
  margin-bottom: 10px;
  color: white;
}



.company-info-item {
  margin-bottom: 20px;
}

.company-info-item h5 {
  margin-bottom: 10px;
  font-weight: bold;
}



.company-info-list li {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

.company-info-list li strong {
  display: inline-block;
  width: 100px;
}

.compnay-view-img {
  border-radius: 50px; 
  width: 70%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image-container.visible {
  opacity: 1;
}


.web-company-icon {
  width: 80px;
  height: 80px;
  background-color: #818681;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}




/* 채용 css*/




.procedure-step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-number {
  font-size: 24px;
  font-weight: bold;
  color: #003366;
  margin-bottom: 15px;
}

.step-icon {
  width: 80px;
  height: 80px;
  background-color: #76ca73;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}


.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #000000;
}

.web-employ-page {
  padding: 15rem;
 
}

.alink-underline {
  color: black;
  text-decoration: none
}

.alink-underline:hover {
  text-decoration: underline;
}

.web-thead-br {
  border-bottom: 2px solid rgb(124, 118, 118);
  border-top: 2px solid #ffd700;
}

/* 회사 연혁 */
.compnay-history-img {
  border-radius: 50px; 
  width: 40%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.com-history-header {
  color: #76ca73;
}

/* 뉴스 css*/
.news-card {
  height: 100%;
  display: flex;
}

.news-image {
  height: 200px;
  object-fit: cover;
}



.news-card-title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box; 
  display: -ms-box; 
  display: -o-box; 
  display: box; 
  -webkit-line-clamp: 3;  /*텍스트 3줄이상 못하게 하는거*/
  -moz-line-clamp: 3;
  -ms-line-clamp: 3; 
  -o-line-clamp: 3; 
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical; 
  -ms-box-orient: vertical; 
  -o-box-orient: vertical; 
  box-orient: vertical; 
  margin-bottom: 1rem;
}

.news-card-text {
  flex: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box; 
  display: -ms-box; 
  display: -o-box; 
  display: box; 
  -webkit-line-clamp: 3; 
  -moz-line-clamp: 3; 
  -ms-line-clamp: 3; 
  -o-line-clamp: 3; 
  line-clamp: 3; 
  -webkit-box-orient: vertical; 
  -moz-box-orient: vertical; 
  -ms-box-orient: vertical; 
  -o-box-orient: vertical; 
  box-orient: vertical; 
}

.news-link {
  text-decoration: none;
  color: inherit;
}

.news-link:hover {
  text-decoration: none;
}

/* 제품 */
.compnay-items-img {
  width: 100%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blue-circle {
  width: 30px;
  height: 30px;
  background-color: #62eedb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.itmes-header-image img{
  width: 100%;
  max-width: 700px; 
  height: auto; 
  margin-bottom: 30px; 
}

.button-size-big{
  width: 80px;
  border-radius: 50%; 
}







/* 사업장소개  */

.place-gsa-img {
  width: 50%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.map-center-plz {
  display: flex;
  justify-content: center;
}



.card-body-contents{
  margin-bottom: 300px;
}


.web-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 박스위치 */
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid white;
  width: 50%; 
  height: 30%;
}

.web-image-text h1 {
  margin: 0;
  font-size: 2em;
  color: white;
}

.web-image-text p {
  margin: 10px 0 0;
  font-size: 1.2em;
}


/*  고객센터  */
.web-faq-color{
  color: green;
}