
/* Web_common에서 사용 */
.web-dropdown1-menu {
    width: 125px; /* 드롭다운 메뉴의 너비를 조정 */
    padding: 3px; /* 여백을 줄임 */
    background-color: #f8f9fa; /* 배경색 */
    border: 1px solid #e9ecef; /* 테두리색 */
    font-size: 1em; /* 글자 크기 줄임 */
    position: absolute; /* 절대 위치 설정 */
    top: 100%; /* 부모 요소 아래에 위치하도록 설정 */
    left: 0; /* 왼쪽 정렬 */
    z-index: 1000; /* 다른 요소들보다 위에 표시되도록 설정 */
    display: none; /* 기본적으로 숨김 */
  }

  .web-menu-item:hover .web-dropdown1-menu {
    display: block; /* 마우스오버 시 표시 */
}
  
  .web-dropdown1-item {
    padding: 10px; /* 각 항목의 여백 줄임 */
    font-size: 1em; /* 글자 크기 줄임 */
    color: black;
    display: block; /* 블록 요소로 설정하여 세로 정렬 */
    text-align: left; /* 텍스트를 왼쪽 정렬 */
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
    text-decoration: none; /* 밑줄 제거 */
  }

  
  .web-nav-link-custom {
    color: white; /* 글씨 색상을 하얀색으로 설정 */
    color: rgb(255, 255, 255); /* 네브바의 내부 링크태그 글씨 색상을 설정 */
    text-decoration: none; /* 밑줄 제거 */
  }

 
  

  
  .web-logo-image {
    width: 50px; /* 너비 설정 */
    height: auto; /* 높이를 자동으로 설정하여 비율 유지 */
  }
  

  .web-nav-border {
    border-bottom: 1px solid rgb(255, 255, 255); /* 네브 바의 하단에 검은 선 추가 */
    width: 100%;
    position: relative;
  }
  
  
  .web-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2; /* 배경 이미지보다 높게 설정 */
  
  }

  
  
  .web-menu-items {
    display: flex;
    gap: 3rem;  /*  메뉴 사이 간격 */
    flex: 1;
    justify-content: center;
   
  }

  .web-menu-item {
    position: relative; /* 부모 요소에 relative 설정 */
}
  
.web-right-box {
    display: flex;
    align-items: center;
}

/* Web_HomePage에서 사용 */
.web-background-image-container {
  background-image: url('/public/images/menupage/nd.png');
  background-size: cover; /* 이미지가 요소를 덮도록 설정 */
  background-position: center; /* 이미지가 중앙에 위치하도록 설정 */
  height: 90%; /* 높이 */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* 메뉴보다 낮게 설정 */
}
  
  
  
  
  /* common-HomePage에서 사용  */
  
  .web-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .web-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;  
    margin-top: 200px;  
  }
  
  /* Web_bottomPage에서 사용 */
.web-home {
    display: block; /* display: none; 이나 visibility: hidden; 등으로 설정되어 있지 않도록 확인 */
    z-index: 0;
    position: relative;
    background-color: rgb(214, 202, 38);
}